.cart-icon {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // .name-icon {
  //   color: #333;
  //   text-decoration: none;
  //   font-size: 1.6rem;
  //   transition: all 0.3s;  
  // } 
  .shopping-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .item-count {
    position: absolute;
    font-size: 1.1rem;
    font-weight: bold;
    bottom: 0.2rem;
//    padding-left: 0rem;
//    margin-left: 1.3rem;
  }
}
