.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  border: 1px solid saddlebrown;
  margin: 5px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  
    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  
    & .content {
      opacity: 0.9;
      visibility: visible;
//      transition: all 1s .5s;
    }
  }  

  &.large {
    height: 24rem;
  }

  // &:first-child {
  //   margin-right: 7.5px;
  // }

  // &:last-child {
  //   margin-left: 7.5px;
  // }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    margin-top: 10px;
    margin-left: -10px;
    width: 200px;

    height: 50px;
//    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white; 
    opacity: 0.7;
    position: absolute;
    visibility: visible;

    .title {
//      font-family: "Great Vibes";
      font-size: 1.5rem;
      font-weight: lighter;
      letter-spacing: 0.3rem;
    
//      font-weight: bold;
//      margin-bottom: 6px;
//      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
